@import "tailwindcss";

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.main{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#center{
  display: flex;
  justify-content: space-around;
}
#down{
  background: linear-gradient(black,rgb(18, 18, 99));
  height: auto;
  width: 100%;
  padding: 20px;

}
.addStocks{
  padding: 3px;
  display: flex;
  gap: 10px;
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.addStocks input{
  padding: 4px 10px;
  background: whitesmoke;
  font-size: medium;
  color: black;
  height: 80%;
  width: 80%;
  padding: 3% 4%;
  border-radius: 30px;
  
}
.addStocks button{
  padding: 3px 4px;
  font-size: larger;
  height: 90%;
  width: 20%;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;border-radius: 30px;
  transition: all 0.1s ease-in-out;
  
}
.addStocks button:hover{
  background-color: rgb(48, 204, 48);
}
.addStocks button:active{
  background-color: rgb(2, 183, 2);
  scale: 0.9;
}
body{
  background-color: black;
  color: white;
}
.header{
  animation: fadeUpIn forwards 2s ease-in;
  display: flex;
  height: 50vh;
  width: 100%;
  color: whitesmoke;
  border-radius: 20px;
  background: linear-gradient(rgb(23, 23, 43),rgb(26, 26, 70), rgb(178, 210, 240));
}
 
@keyframes fadeUpIn {
  0%{
    opacity: 0;
    transform: translateY(-100px) ;
  }
  100%{
    opacity: 1;
    transform: translateY(0px) ;
    
  }
}

.stockLists{
  animation: fadeInLeft forwards 2s ease-in;
}
.Graph{
  animation: fadeInRight forwards 2s ease-in;
}


@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);

  }
}
@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);

  }
}